@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Bill Gordon</h1>
    <p>Simple portfolio site to demonstrate Microsoft ASP.NET Core</p>
</div>
